{% extends 'base.html.twig' %}

{% block title %}Medicament index{% endblock %}

{% block body %}
    <div class="grid-article">
        {% for medicament in medicaments %}
            {{ include('components/_card.html.twig', {medicament}) }}
        {% endfor %}
    </div>
{% endblock %}
