{% block stylesheets %}
{% endblock %}
{% block body %}
    <a href="">
        <div class="container py-2 my-2 rounded-4 bg-secondary bg-gradient">
            <div class="d-flex justify-content-between py-3 my-2">
                <div class="container rounded-4 bg-success">
                    <p class="fs-1">Les loutres dans l'amérique latine et un looooooooooooooooooooooooooooong test</p>
                </div>
                <div class="px-3">
                    <div class="container py-2 mb-3 rounded-4 bg-success">
                        <p class="fs-5">Parut le : 10/03/2035</p>
                    </div>
                    <div class="container py-2 rounded-4 bg-success">
                        <p class="fs-5">Auteur : Lucas Sieurin Vallery</p>
                    </div>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum, tortor nec vulputate cursus, massa elit maximus nulla, sit amet euismod libero nulla at velit. Donec congue libero vel congue pretium. Curabitur vulputate libero eu eros sodales, vitae vulputate sapien gravida. Donec lacinia purus in sapien malesuada tincidunt. Mauris maximus, magna sit amet facilisis sodales, purus tellus tincidunt purus, vel blandit metus nisi vitae dui. Cras non risus ex...</p>
        </div>
    </a>
{% endblock %}
