{% block body %}
    <div>
        <a href="">
            <div class="marquee text-white">
                <p class="py-3 mb-0 fs-4">N'hésitez pas a consulté nos promotions en cliquant ici !</p>
            </div>
        </a>
        <hr class="border border-dark border-1 opacity-100" style="margin: 0;">
    </div>
{% endblock %}