{% block body %}
    <div class="subnavbar sticky-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav" style="gap: 10px">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Médicaments
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Douleurs & Fièvre</a></li>
                                <li><a class="dropdown-item" href="#">Vitalité</a></li>
                                <li><a class="dropdown-item" href="#">Ophtalmologie</a></li>
                                <li><a class="dropdown-item" href="#">ORL</a></li>
                                <li><a class="dropdown-item" href="#">Bucco-dentaire</a></li>
                                <li><a class="dropdown-item" href="#">Gastro-entérologie</a></li>
                                <li><a class="dropdown-item" href="#">Circulation & coeur</a></li>
                                <li><a class="dropdown-item" href="#">Appareil urinaire</a></li>
                                <li><a class="dropdown-item" href="#">Gynécologie</a></li>
                                <li><a class="dropdown-item" href="#">Dermatologie</a></li>
                                <li><a class="dropdown-item" href="#">Premiers soins</a></li>
                                <li><a class="dropdown-item" href="#">Antiparasitaires</a></li>
                                <li><a class="dropdown-item" href="#">Homéopathie</a></li>
                                <li><a class="dropdown-item" href="#">Médicaments sur réservation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Parapharmacie
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Santé</a></li>
                                <li><a class="dropdown-item" href="#">Nature</a></li>
                                <li><a class="dropdown-item" href="#">Nutrition</a></li>
                                <li><a class="dropdown-item" href="#">Sport</a></li>
                                <li><a class="dropdown-item" href="#">Minceur</a></li>
                                <li><a class="dropdown-item" href="#">Hygiène & Soins</a></li>
                                <li><a class="dropdown-item" href="#">Intime</a></li>
                                <li><a class="dropdown-item" href="#">Maquillage & Parfumerie</a></li>
                                <li><a class="dropdown-item" href="#">Soleil & Voyage</a></li>
                                <li><a class="dropdown-item" href="#">Maman & Bébé</a></li>
                                <li><a class="dropdown-item" href="#">Accessoires & Premiers soins</a></li>
                                <li><a class="dropdown-item" href="#">Cadeaux</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vétérinaire
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Orthopédie</a></li>
                                <li><a class="dropdown-item" href="#">Podologie</a></li>
                                <li><a class="dropdown-item" href="#">Contention</a></li>
                                <li><a class="dropdown-item" href="#">Oncologie</a></li>
                                <li><a class="dropdown-item" href="#">Incontinence</a></li>
                                <li><a class="dropdown-item" href="#">Maintien à domicile</a></li>
                                <li><a class="dropdown-item" href="#">Consommables médicaux</a></li>
                                <li><a class="dropdown-item" href="#">Post-opératoire</a></li>
                                <li><a class="dropdown-item" href="#">Droguerie & Préparatoire</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Matériel médical
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Traitement de l'habitat</a></li>
                                <li><a class="dropdown-item" href="#">Alimentation animale</a></li>
                                <li><a class="dropdown-item" href="#">Antiparasitaires</a></li>
                                <li><a class="dropdown-item" href="#">Hygiène animale</a></li>
                                <li><a class="dropdown-item" href="#">Santé animale</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Nos services
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Actualités</a></li>
                                <li><a class="dropdown-item" href="#">Conseils</a></li>
                                <li><a class="dropdown-item" href="#">Cartes épidémriques</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="border border-dark border-1 opacity-100" style="margin: 0;">
    </div>
{% endblock %}
