header {
    background: linear-gradient(to right,#659B5E, #556F44);
}

body {
    background-color: #d7ddd6;
}

footer {
    background: linear-gradient(to right,#659B5E, #556F44)
}

a {
    text-decoration: none;
    color: rgb(00,00,00);
}

.subnavbar {
    background-color: #d7ddd6;
    top: 98px;
    z-index: 1030;
}

.marquee {
    background: linear-gradient(to right, #659B5E,#556F44);
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}

.marquee p {
    animation: scroll 20s linear infinite;
    padding-right: 100%;
    color: rgb(255, 255, 255);
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.footer_a {
    color : rgb(0, 0, 0);
    text-decoration : none;
    text-decoration-thickness : 0px;
    transition : color 0.5s;
}

.footer_a:hover {
    color: #f4f4f4;
    text-decoration : underline;
}