body {
    background-color: rgb(35, 87, 49);
}

.subnavbar {
    top: 96px;
    z-index: 1030;
}

a {
    text-decoration: none;
    color: rgb(00,00,00);
}

.footer_a {
    color : rgb(0, 0, 0);
    text-decoration : none;
    text-decoration-thickness : 0px;
    transition : color 0.5s;
}

.footer_a:hover {
    color: #f4f4f4;
    text-decoration : underline;
}
